:root {

    /* colors */
    --yellow: hsl(47, 88%, 63%);

    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);

    /* font size */
    --fs-400: 1rem;

    /* font weight */
    --fw-semi-bold: 600;
    --fw-extra-bold: 800;

    /* components */
    --clr-primary: var(--yellow);
    --clr-card-primary: var(--white);
    --clr-text-primary: var(--black);
    --clr-text-secondary: var(--grey);
}

/* css reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
} */

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

html {
    background-color: var(--clr-primary);
    font-family: 'Figtree', sans-serif;
}

body {
    height: 100%;
}

main {
    display: grid;
    place-content: center;
    height: 100%;
}

.card_container {
    background-color: var(--clr-card-primary);
}